.ui-dropdown-list {
	--ui-dropdown-item-space: 5px;

	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: var(--font-size-body-1);
	border-radius: var(--border-radius);
	border: var(--form-element-border-width) solid var(--color-gray-light);
	padding: var(--ui-dropdown-item-space);
	background-color: white;

	.ui-dropdown-list-item {
		display: flex;
		align-items: center;
		inline-size: 100%;
		block-size: var(--form-element-height);
		background-color: white;
		padding-inline: var(--form-element-padding-h);
		cursor: pointer;
		border-radius: var(--border-radius);
		font-size: var(--font-size-input);

		&.selected {
			color: white;
			background-color: var(--color-primary);
		}

		&:hover:not(.selected) {
			background-color: var(--color-gray-light);
		}

		&:not(:first-child) {
			margin-block-start: var(--ui-dropdown-item-space);
		}
	}
}

.ui-dropdown-list-wrapper {
	box-shadow: 0 4px 10px var(--color-gray-light);
	border-radius: var(--border-radius);

	> * {
		border-radius: var(--border-radius);
	}
}