@import './styles/ui.css';
@import './components/components.css';
@import './pages/pages.css';

#app {
	display: flex;
}

.app-sidebar {
	inline-size: 240px;
	block-size: 100vh;
}

.app-main-wrapper {
	block-size: 100vh;
}

.app-main {
	max-inline-size: 780px;
}