.ui-radio {
	inline-size: 100%;

	.ui-form-element-label {
		display: flex;
		align-items: center;

		input {
			flex-shrink: 0;
			inline-size: 20px;
			block-size: 20px;
			accent-color: var(--color-primary);
		}
	}
}

.ui-radio-replacer {
	position: relative;
	font-size: 0;
	margin-block-start: 2px;
	margin-inline-end: 5px;

	> div {
		position: absolute;
		inline-size: 20px;
		block-size: 20px;
		border: 1px solid var(--color-gray-light);
		border-radius: 50%;
		inset: 0;
		pointer-events: none;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.ui-radio-replacer-checked-circle {
		inline-size: 12px;
		block-size: 12px;
		background-color: var(--color-primary-dark);
		border-radius: 50%;
	}
}